node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

oldies
data

untracked/

# Deployment files
/deployments/*.json
/deployments/*.txt

# Test accounts (contains private keys)
/accounts/

wallets/